<md-sidenav class="md-sidenav-left"
            md-component-id="sidenav"
            md-is-locked-open="$mdMedia('gt-sm')"
            md-whiteframe="4">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h1 flex layout="row" layout-align="center">
				{{ 'app.title' | translate }}
			</h1>
			<language-menu></language-menu>
			<md-button class="md-icon-button"
			           ng-click="sidenav.close()"
			           hide-gt-sm>
				<md-icon>close</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-content layout="column">
		<replace src="views/nav/sidenav-content.html"></replace>
	</md-content>
</md-sidenav>
