<!DOCTYPE html>
<html lang="en" ng-app="ng1Demo">
	<head>
		<meta charset="utf-8">

		<title>Angular 1 demo</title>
		<meta name="description" content="Angular 1 demo">
		<meta name="viewport" content="width=device-width,initial-scale=1">

		<link rel="icon" href="../../img/favicon.png">
		<link rel="stylesheet" href="../../css/vendor.css">
		<link rel="stylesheet" href="../../css/app.css">

		<style type="text/css">
			md-content { background: transparent; }
		</style>
	</head>
	<body ng-cloak layout="row" ng-controller="Ng1DemoController as ctrl">
		<md-sidenav class="md-sidenav-left"
		            md-component-id="demo-sidenav"
		            md-whiteframe="4">
			<md-toolbar>
				<div class="md-toolbar-tools">
					<h1 flex layout="row" layout-align="center">
						Sidenav
					</h1>
					<md-button class="md-icon-button" ng-click="ctrl.closeSidenav()">
						<md-icon>close</md-icon>
					</md-button>
				</div>
			</md-toolbar>
			<md-content layout="column">
				<md-list>
					<div ng-repeat="_ in ::ctrl.range(2)">
						<md-subheader>Subheader</md-subheader>
						<md-list-item ng-repeat="_ in ::ctrl.range(3)"
						              ng-click="angular.noop()">
							Item
						</md-list-item>
					</div>
				</md-list>
			</md-content>
		</md-sidenav>

		<md-content flex layout="row" layout-wrap>
			<div flex="100" layout="column" layout-gt-md="row"
			     layout-margin layout-padding layout-align="center center">
				<md-toolbar ng-repeat="palette in ::ctrl.palettes"
				            ng-class="::[palette, hue]">
					<div class="md-toolbar-tools">
						<md-button class="md-icon-button" ng-disabled="true">
							<md-icon>menu</md-icon>
							<md-tooltip md-direction="down">Tooltip</md-tooltip>
						</md-button>

						<h2 flex md-truncate>{{ ::(palette || 'Toolbar') }}</h2>

						<md-button class="md-icon-button" aria-label="Favorite">
							<md-icon>favorite</md-icon>
							<md-tooltip md-direction="left">Tooltip</md-tooltip>
						</md-button>

						<md-button class="md-icon-button" aria-label="More">
							<md-icon>more_vert</md-icon>
							<md-tooltip md-direction="down">Tooltip</md-tooltip>
						</md-button>
					</div>
				</md-toolbar>
			</div>

			<demo empty>
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Card</span>
						<span class="md-subhead">Card subhead</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content layout="column">
					<color-demo tag="md-button"></color-demo>
					<color-demo tag="md-button" attr="class=md-raised"></color-demo>
				</md-card-content>
				<md-card-actions layout="row" layout-align="start center">
					<md-button ng-click="ctrl.openSidenav()">Sidenav</md-button>
					<md-button ng-click="ctrl.openDialog()">Dialog</md-button>
					<md-button ng-click="ctrl.openToast()">Toast</md-button>
					<md-menu>
						<md-button class="md-icon-button" ng-click="$mdMenu.open($event)">
							<md-icon md-menu-origin>menu</md-icon>
							<md-tooltip>Menu</md-tooltip>
						</md-button>
						<md-menu-content width="6">
							<md-menu-item ng-repeat="palette in ::ctrl.palettes">
								<md-button ng-class="::palette">
									{{ ::(palette || 'Default') }}
								</md-button>
							</md-menu-item>
						</md-menu-content>
					</md-menu>
				</md-card-actions>
			</demo>

			<demo>
				<color-demo tag="md-checkbox"></color-demo>
				<md-divider></md-divider>
				<color-demo tag="md-switch"></color-demo>
			</demo>

			<demo>
				<form name="demoForm" show-errors layout="row"
				      layout-align="center center" layout-wrap layout-margin>
					<md-input-container flex="100" flex-gt-xs="45">
						<label>Input</label>
						<input type="text" name="input0">
					</md-input-container>
					<md-input-container flex="100" flex-gt-xs="45">
						<label>Input</label>
						<input type="text" name="disabled" value="Disabled"
						       ng-disabled="true">
					</md-input-container>
					<md-input-container flex="100" flex-gt-xs="45">
						<label>Input</label>
						<input type="text" name="input"
						       ng-minlength="6" md-maxlength="9"
						       required md-no-asterisk ng-model="ctrl.inputModel">
						<div ng-messages="demoForm.input.$error" md-auto-hide="false">
							<div ng-message="required">This is required.</div>
							<div ng-message="minlength">
								Input must be more then 5 characters long.
							</div>
							<div ng-message="md-maxlength">
								Input must be less than 10 characters long.
							</div>
						</div>
					</md-input-container>
          <md-input-container flex="100" flex-gt-xs="45">
            <label>Date</label>
            <md-datepicker name="date" ng-model="ctrl.dateModel"
						               required md-no-asterisk>
						</md-datepicker>
						<div ng-messages="demoForm.date.$error" md-auto-hide="false">
							<div ng-message="required">This is required.</div>
						</div>
          </md-input-container>
					<md-input-container flex="100" flex-gt-xs="45">
						<label>Select</label>
						<md-select ng-model="ctrl.selectModel">
							<md-option ng-repeat="i in ::ctrl.range(6)"
							           ng-value="i" ng-disabled="::(i % 2)">
								Option {{ ::i }}
							</md-option>
						</md-select>
					</md-input-container>
					<md-input-container flex="100" flex-gt-xs="45">
						<label>Disabled</label>
						<md-select ng-model="ctrl.selectModel" ng-disabled="true">
							<md-option ng-repeat="i in ::ctrl.range(6)"
							           ng-value="i" ng-disabled="::(i % 2)">
								Option {{ ::i }}
							</md-option>
						</md-select>
					</md-input-container>

					<md-chips flex="90" ng-model="ctrl.chipsModel"></md-chips>
				</form>
			</demo>

			<demo>
				<color-demo tag="md-radio-group" attr="layout-margin"></color-demo>
			</demo>

			<demo>
				<color-demo tag="md-slider-container" attr="layout-padding">
				</color-demo>
			</demo>

			<demo>
				<div layout="row">
					<color-demo flex tag="md-progress-circular"
					            attr="layout-margin md-mode=determinate value=75">
					</color-demo>
					<div flex layout="column">
						<color-demo tag="md-progress-linear"
						            attr="layout-margin md-mode=determinate value=50">
						</color-demo>
					</div>
				</div>
			</demo>

			<demo>
				<color-demo tag="md-tabs"
				            attr="flex=100 flex-gt-sm=33 layout-padding md-dynamic-height">
				</color-demo>
			</demo>

			<demo>
				<color-demo tag="md-nav-bar"
				            attr="layout-padding md-selected-nav-item=ctrl.selectedNavItem aria-label=navbar">
				</color-demo>
			</demo>
		</md-content>

		<script src="../../js/vendor.js"></script>
		<script src="app.js"></script>
	</body>
</html>
